@using Remont.Resources
@model Remont.Models.LostPasswordModel
@{
    ViewBag.Title = @Resource.LostPassword;
}

<h2>@Resource.LostPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>@Resource.LostPassword</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value=@Resource.RegeneratePassword />
    </fieldset>
    <h2>@ViewBag.Message</h2>
}